.body{
  width: auto;
  height: 75vh;
  border-bottom: 7px solid rgba(52,147,215,0.694);
}

.box{
  width: auto;
  height: 65vh;
}

#RegisterBox {
    width: 500px;
    text-align: center;
    margin: 14vh auto;
    padding: 15px;
    @media screen and (max-width: 767px){
      width: 350px;
      padding: 10px;
  }
  }
  .input-form-box {
    display: flex;
    margin-bottom: 5px;
  }
  .input-form-box > span {
    display: block;
    text-align: left;
    padding-top: 5px;
    min-width: 90px;
  }
  .input-form-box > input {
    max-width: 250px;
    margin-left: 10px;
    @media screen and (max-width: 767px){
      max-width: 160px;
  }
  }
  .button-login-box {
    margin: 10px 0;
  }
  #inputBox {
    margin: 10px;
    width: auto;
    height: auto;
    @media screen and (max-width: 767px){
      margin: 5px;
  }
  }
  
  #inputBox button {
    padding: 3px 5px;
  }
  
  #btn-check{
    border-radius: 12px;
    margin-left: 5px;
    font-size: 0.7rem;
  }

  .input-form-box > i {
    margin-left: 10px;
  }

 .stepper{
    height: 5vh;
  }

  .stepper > *{
    width: 30vw;
    margin: auto;
    @media screen and (max-width: 767px){
      width: 90%;
      margin: auto;
    }
  }