.input-form-box {
    display: flex;
    margin-bottom: 5px;
    padding: 2px;
  }
  .input-form-box > span {
    display: block;
    text-align: left;
    padding-top: 5px;
    min-width: 90px;
  }
  .input-form-box > input {
    max-width: 250px;
    @media screen and (max-width: 767px){
      max-width: 160px;
  }
  }
  .button-login-box {
    margin: 10px 0;
  }
  #inputBox {
    margin: 10px;
    width: auto;
    height: auto;
    @media screen and (max-width: 767px){
      margin: 5px;
  }
  }
  
  #inputBox button {
    padding: 3px 5px;
  }

  .input-form-box > i {
    margin-left: 10px;
  }
.mili_btn > button {
    margin-left: 1vw;
}

.position_btn{
  width: 300px;
  @media screen and (max-width: 480px){
    width: 230px
}
}
.location_btn{
  width: 300px;
  @media screen and (max-width: 480px){
    width: 230px
}
}