#Output_Self_introductionBox {
    width: 500px;
    height: auto;
    text-align: center;
    align-self: center;
    padding-top: 10vh;
}

.output-form-box {
    display: flex;  
    margin-bottom: 5px;
    width: 300px; /* 원하는 너비로 조절 */
    height: auto;
}


.output-title-box{
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치 */
    align-items: center; /* 가운데 정렬 */
    padding-top: 2vh;
}

.output-result-box{
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치 */
    align-items: center; /* 가운데 정렬 */
    padding-top: 2vh;
}

.outPage {
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 100vw;
    font-family: "Noto Serif KR";
}

.save_box{
    margin: 0 auto;
    width: auto;
    height: auto;
}

.save_btn{
    min-width: 300px;
    min-height: 40px;
    font-size: 20px;
}