.body {
    display : flex;
    height: auto;
    flex-direction: column;
}


/* Self Introduction Box */
#Self_introductionBox {
    width: auto;
    height: auto;
    text-align: center;
    align-self: center;
    margin-top: 3vh;
}

.jobinput-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}


/* 자기소개서 키워드 입력하기 */
.horizontal-container {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    width: auto;
}
.input-textarea-row {
    margin-bottom: 10px; /* 각 텍스트 입력 칸 사이의 간격 조절 */
} 
.inputkeywords-box {
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치 */
    align-items: center; /* 가운데 정렬 */
    padding: 2vh 0;
}

/* Input Textarea */
.input-textarea-box {
    min-width: 250px;
    height: 6.7vh;
    align-items: center;
}
.button_box {
    width: 50px;
    margin-bottom: 5px;
}
    
/* 자기소개서 키워드 입력하기 */


/* Setting Apply Box */
.settingapply-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.settingapply-box label {
    font-size: 15px;
    color: red;
    position: relative;
    top: -2vh; /* 원하는 만큼 위로 이동 */        
}

.settingapply-box checkbox {
    margin-left: 10vw;
}

/* Additional Content Box */
.addtionalcontent-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 3vh;
}

.additional-textarea-box {
    min-width: 370px;
    height: 15vh;
    max-height: 80px;
    resize: none;
    max-height: 400px;
    font-size: 1.0rem; /* 글자 크기 조절 */
    margin-bottom: 5px; /* 마이페이지의 개인 설정을 적용합니다와의 간격 조절 */
}



/* Start Introduction Button */
.startintroduction-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    font-family: "Noto Serif KR";
}    

.startintroduction-button {
    min-width: 300px;
    height: 8vh;
    font-size: min(1.3rem); /* 수정된 부분 */   
    font-family: "Noto Serif KR";
    font-weight: 400;
}