.CheckCamMic-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 55vh;
    width: 100vw;
    padding-top: 3vh;
  }
  
  .video-box {
    width: 70vw;
    height: auto;
  }
  

  .gauge-box {
    width: 40vw;
    margin-top: 2vh;
  }

  
  .button-box {
    margin-top: 3vh;

  }

  .icon-progress-container {
    justify-content: flex-start;
}
  
