.row{
    padding: 0;
    margin: 0;
}

.header {
  display: flex;
  width: auto;
  height: 17vh;
  border-bottom: 1px solid lightgray  
  /* border-bottom: 7px solid rgba(52,147,215,0.694); */
  /* border-bottom: 1px solid lightgray */
}

    /* 왼쪽 열 스타일 */
.header > .left {
    width: 20vw;
    @media screen and (max-width: 767px){
        width: 20vw;
    }
}
    
    /* 이미지 스타일 */
.header > .left > * > img {
    display: block;
    width: 110px; /* 이미지 너비 조정 */
    height: auto; /* 이미지의 가로 세로 비율 유지 */
    user-select: none;
    @media screen and (max-width: 767px){
        width: 110px;
        margin-top: 1vh;
    }
    
}
    
    /* 가운데 열 스타일 */
.header > .center {
    width: 58vw;
    text-align: center;
    margin-bottom: 1vh;
    @media screen and (max-width: 767px){
        width: 62vw;
    }

}
  
  .header > .center > * {
    margin-top: 3vh;
    user-select: none;
    @media screen and (max-width: 767px){
        margin-top: 5vh;
    }
}

.center > * {
    display: inline-block;
    width: fit-content;
    margin: auto;
}

.center > * > img{
    width: 200px;
    user-select: none;
}

  /* 오른쪽 열 스타일 */
.header > .right {
    display: flex;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
    align-content: center;
    justify-content: center;
    width: 20vw;
}

.right > .btn_box {
    margin-top: 6vh;
}

.right > .btn_box > * {
    margin-left: 5px;
    max-width: max-content;
}

.right > .btn_box button {
    @media screen and (max-width: 932px){
        /* max-width: 90px; */
        font-size: 0.9rem;
        margin-top: 2px;
    }
    @media screen and (max-width: 872px){
        /* max-width: 90px; */
        font-size: 0.72rem;
        margin-top: 2px;
    }
    @media screen and (max-width: 767px){
        max-width: 90px;
        font-size: 0.65rem;
        margin-top: 2px;
    }
}

.login_box{
    width: fit-content;
    margin-top: 40px;
}