.body{
    /* border-bottom: 7px solid rgba(52,147,215,0.694); */
    margin-bottom: 20px;

}

.body > .row {
    height: 33vh;
    width: auto;
}

.body > * > .col-12.col-md-6{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body > * > * > * >.btn{
    width: 34vw;
    height: 17vh;
    font-size: 1.7rem;

    @media screen and (max-width: 767px){
        width: 70vw;
        height: 13vh;
        font-size: 1.5rem;
    }
    
}